<form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()" class="container">
  <h3>Cadastro</h3>

  <div class="">
    <div class="">
      <app-base-input label="Nome" formControlName="nome"></app-base-input>
    </div>

    <div class="">
      <app-base-input
        label="Sobrenome"
        formControlName="sobrenome"
      ></app-base-input>
    </div>

    <div class="">
      <app-base-datepicker
        label="Data Nascimento"
        formControlName="dataNascimento"
      ></app-base-datepicker>
    </div>

    <div>
      <app-base-radio
        label="Gênero"
        formControlName="genero"
        [items]="generos"
      ></app-base-radio>
    </div>

    <div>
      <app-base-input label="CPF" formControlName="cpf"></app-base-input>
    </div>

    <div>
      <app-base-input label="RG" formControlName="rg"></app-base-input>
    </div>

    <div>
      <app-base-input label="UF do RG" formControlName="ufRg"></app-base-input>
    </div>

    <div>
      <app-base-input label="Email" formControlName="email"></app-base-input>
    </div>
    <div>
      <app-base-input
        label="Telefone Fixo"
        formControlName="telefone"
      ></app-base-input>
    </div>

    <div>
      <app-base-select
        label="Convênio"
        formControlName="convenioId"
        [items]="convenios"
      ></app-base-select>
    </div>

    <div>
      <app-base-input
        label="Número da carteirinha do convênio"
        formControlName="numeroCarterinhaConvenio"
      ></app-base-input>
    </div>
  </div>

  <app-base-button type="submit">Cadastrar</app-base-button>
</form>
